target
lib_managed
src_managed
lift_example
projectboot
.classpath
.project
.manager
*~
*.class
*.log
*\#
sbt-launch*.jar
.scala_dependencies
*.orig
.cache
.settings
.idea
.idea_modules
bin
.ensime
*.egp
RDFValidator
2002
css-validator*.war

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
src/main/resources/org

# Scala-IDE specific
.scala_dependencieschecker/build
checker/build
checker/dependencies
checker/htmlparser
checker/jing-trang
checker/nu-validator-site
checker/syntax
checker/util
checker/validator
checker/xmlparser
checker/jars
checker/local-entities
lib
sbt-launch-*.jar
