<configuration>
    
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%logger{15} - %message%n%xException{40}</pattern>
    </encoder>
  </appender>
  
  <logger name="org.eclipse.jetty.server" level="INFO">
    <appender-ref ref="STDOUT" />
  </logger>
  
  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>